black >= 19.10b0
Sphinx >= 3.0.1
pytest >= 6.2.1
recommonmark >= 0.7.1
sphinx>=3.2.1
numpydoc >= 1
pydata-sphinx-theme>=0.4.1
pytest-cov >= 2.8.1
prospector >=1.2.0
coverage >= 4.5.4
doit >= 0.32.0
mypy >= 0.790
pre-commit >= 2.12

